### pandas

### boolean

In [1]:
True == True

True

In [2]:
True == 0

False

In [3]:
True == '1'

False

In [4]:
True == False

False

In [7]:
True != 0

True

In [8]:
False == 0

True

In [23]:
True or False
1 == '1'

False

In [31]:
eng = 'Korea COVID 19'
eng

'Korea COVID 19'

In [29]:
big = eng.upper()
big

'KOREA COVID 19'

In [32]:
small = eng.lower()
small

'korea covid 19'

In [40]:
kor = 'English'
kor
small = kor.lower
small

In [133]:
list_data=[1,'두번째',3,4,100,5]
tuple_data=(1,2,3,4,5)
dic_data = {1:100,2:200,3:300,4:400,5:500}

In [45]:
type(list_data),type(tuple_data),type(dic_data)

(list, tuple, dict)

In [49]:
list_data[0],list_data[1]

(1, '두번째')

In [52]:
list_data[:4]

[1, '두번째', 3, 4]

In [54]:
list_data[3:]

[4, 5]

In [61]:
list_data[-1]='마지막'

In [63]:
list_data

[1, '두번째', 3, 4, 100, '마지막']

In [134]:
tuple_data[2]='가운데'

TypeError: 'tuple' object does not support item assignment

In [69]:
data=[]
data.append('추가')

In [71]:
data.append('java')

In [73]:
data.append("c")

In [75]:
data.append('Python')

In [77]:
data

['추가', 'java', 'java', 'c', 'c', 'Python', 'Python']

In [79]:
data[0]

'추가'

In [81]:
data.reverse()
data

['추가', 'java', 'java', 'c', 'c', 'Python', 'Python']

In [82]:
data.sort()
data

['Python', 'Python', 'c', 'c', 'java', 'java', '추가']

In [89]:
dic = {100:'태민',200:'태완','이름':'원형',400:'영렬',500:'인선'}
dic

{100: '태민', 200: '태완', '이름': '원형', 400: '영렬', 500: '인선'}

In [91]:
dic[100],dic[200],dic['이름']

('태민', '태완', '원형')

In [93]:
dic.get('이름')

'원형'

In [95]:
dic.keys()

dict_keys([100, 200, '이름', 400, 500])

In [99]:
dic.values()

dict_values(['태민', '태완', '원형', '영렬', '인선'])

In [107]:
a=[1,2,3]
a

[1, 2, 3]

In [109]:
b=[4,5,6]
b

[4, 5, 6]

In [113]:
import pandas as pd
pd.DataFrame (data=dict(num=a,sum=b), index=['a','b','c'])

   num  sum
a    1    4
b    2    5
c    3    6

In [120]:
man = {
    'num':[1,2,3],
    'sum':[4,5,6]
}

In [122]:
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [124]:
man = [

    {'num':1,'sum':4},
    {'num':2,'sum':5},
    {'num':3,'sum':6}
]

In [126]:
pd.DataFrame(man)

   num  sum
0    1    4
1    2    5
2    3    6

In [139]:
person={
    'name':['a','b','b','d'],
    '국어':[100,17,50,90],
    '영어':[80,60,40,80]
}

In [140]:
pd.DataFrame(person)

  name   국어  영어
0    a  100  80
1    b   17  60
2    b   50  40
3    d   90  80

In [138]:
df=pd.DataFrame(person)

In [137]:
df['국어']

0    100
1     17
2     50
3     90
Name: 국어, dtype: int64

In [142]:
person={
    '교시':['1교시','2교시','3교시','4교시','5교시'],
    'C':[10,10,10,10,10],
    'R':[10,10,10,10,10],
    'JAVA':[10,10,10,10,10]
}

In [144]:
pd.DataFrame(person)

    교시   C   R  JAVA
0  1교시  10  10    10
1  2교시  10  10    10
2  3교시  10  10    10
3  4교시  10  10    10
4  5교시  10  10    10